In [1]:
import pandas as pd
import numpy as np
import datetime
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

df = pd.read_excel(r'D:\Users\user\Desktop\碩班課程\資料探勘\HW2\107年新竹站_20190315.xls')

In [2]:
##Q1
df=df.replace('NR',0)
df.shape

(6564, 27)

In [3]:
for col in df.iloc[:,3:]:  #轉成numeric,非數字(文字或符號)用NA補
    df[col]=pd.to_numeric(df[col],errors='coerce')
df.head()

,日期,測站,測項,00,01,02,03,04,05,06,...,14,15,16,17,18,19,20,21,22,23
0,2018/01/01,新竹,AMB_TEMP,15.40,15.40,15.30,15.30,15.30,15.30,15.30,...,21.80,21.00,19.90,18.60,17.90,17.90,17.80,17.60,17.60,17.70
1,2018/01/01,新竹,CH4,1.80,1.80,1.80,1.80,1.80,1.80,1.80,...,1.80,1.80,1.80,1.80,1.80,1.80,1.90,1.90,1.80,1.90
2,2018/01/01,新竹,CO,0.34,0.32,0.34,0.32,0.29,0.29,0.32,...,0.43,0.44,0.46,0.55,0.57,0.59,0.60,0.58,0.52,0.49
3,2018/01/01,新竹,NMHC,0.06,0.06,0.06,0.06,0.06,0.05,0.06,...,0.09,0.09,0.10,0.13,0.12,0.12,0.13,0.12,0.10,0.09
4,2018/01/01,新竹,NO,0.20,0.00,-0.30,-0.30,-0.10,0.20,0.00,...,1.10,1.20,0.70,0.40,0.30,0.20,0.20,0.20,0.00,0.00

In [4]:
df['日期'] = df['日期'].apply(lambda x: datetime.datetime.strptime(x,'%Y/%m/%d'))  #先轉成日期型態後面才能拿
df['月份'] = df['日期'].apply(lambda x: datetime.datetime.strftime(x,'%m')).astype('int64')   
df['日期'] = df['日期'].apply(lambda x: datetime.datetime.strftime(x,'%Y/%m/%d'))  #再把他轉回string
df.head()

,日期,測站,測項,00,01,02,03,04,05,06,...,15,16,17,18,19,20,21,22,23,月份
0,2018/01/01,新竹,AMB_TEMP,15.40,15.40,15.30,15.30,15.30,15.30,15.30,...,21.00,19.90,18.60,17.90,17.90,17.80,17.60,17.60,17.70,1
1,2018/01/01,新竹,CH4,1.80,1.80,1.80,1.80,1.80,1.80,1.80,...,1.80,1.80,1.80,1.80,1.80,1.90,1.90,1.80,1.90,1
2,2018/01/01,新竹,CO,0.34,0.32,0.34,0.32,0.29,0.29,0.32,...,0.44,0.46,0.55,0.57,0.59,0.60,0.58,0.52,0.49,1
3,2018/01/01,新竹,NMHC,0.06,0.06,0.06,0.06,0.06,0.05,0.06,...,0.09,0.10,0.13,0.12,0.12,0.13,0.12,0.10,0.09,1
4,2018/01/01,新竹,NO,0.20,0.00,-0.30,-0.30,-0.10,0.20,0.00,...,1.20,0.70,0.40,0.30,0.20,0.20,0.20,0.00,0.00,1

In [5]:
#發現 NO, NOx, NO2在7月有缺值
print(df.loc[:,'測項'].value_counts())
print(df.loc[df['測項']=='NO',:]['月份'].value_counts())

WD_HR         365
NMHC          365
PM2.5         365
PM10          365
RH            365
CO            365
WIND_DIREC    365
WIND_SPEED    365
CH4           365
AMB_TEMP      365
THC           365
RAINFALL      365
SO2           365
O3            365
WS_HR         365
NO            363
NOx           363
NO2           363
Name: 測項, dtype: int64
12    31
10    31
8     31
5     31
3     31
1     31
11    30
9     30
6     30
4     30
7     29
2     28
Name: 月份, dtype: int64

In [6]:
# 補上他們的欄位
df.loc[6564]=list(['2018/07/15','新竹','NO'])+['NA']*25
df.loc[6565]=list(['2018/07/15','新竹','NO2'])+['NA']*25
df.loc[6566]=list(['2018/07/15','新竹','NOx'])+['NA']*25
df.loc[6567]=list(['2018/07/16','新竹','NO'])+['NA']*25
df.loc[6568]=list(['2018/07/16','新竹','NO2'])+['NA']*25
df.loc[6569]=list(['2018/07/16','新竹','NOx'])+['NA']*25

In [7]:
df=df.sort_values(by=['日期','測項']).reset_index(drop=True)
df=df.drop(['月份'],axis=1)

In [8]:
train_temp=[]
test_temp=[]
for i in range(18):     
    train_temp.append([])     
    test_temp.append([])

In [9]:
for idx,col in enumerate(df['測項'].unique()):
    train_temp[idx]=df[df['測項']==col].iloc[:,3:].values.reshape(1,-1)
feature=pd.DataFrame(np.asmatrix(np.array(train_temp))).transpose()
feature.columns=[df['測項'].unique()]
feature.head()

,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,15.4,1.8,0.34,0.06,0.2,8.2,8.4,39,71,22,0,73,2.7,1.9,64,66,4.2,3.3
1,15.4,1.8,0.32,0.06,0,7.3,7.3,40,65,23,0,73,2.7,1.9,64,67,3.9,3
2,15.3,1.8,0.34,0.06,-0.3,7.4,7.1,40,56,17,0,73,2.4,1.9,60,53,3.6,2.8
3,15.3,1.8,0.32,0.06,-0.3,7.2,7,40,57,16,0,72,2.5,1.9,65,72,3.7,2.8
4,15.3,1.8,0.29,0.06,-0.1,5.9,5.9,42,55,15,0,74,2.5,1.9,63,64,3.1,2.5

In [10]:
datelist=[]
timelist=[]
for date in df['日期'].unique():
        datelist.append([date]*24)
        timelist.append(list(range(0,24)))
feature['日期']=np.array(datelist).reshape(-1,1)  
feature['時間']=np.array(timelist).reshape(-1,1)  
feature.head()

,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR,日期,時間
0,15.4,1.8,0.34,0.06,0.2,8.2,8.4,39,71,22,0,73,2.7,1.9,64,66,4.2,3.3,2018/01/01,0
1,15.4,1.8,0.32,0.06,0,7.3,7.3,40,65,23,0,73,2.7,1.9,64,67,3.9,3,2018/01/01,1
2,15.3,1.8,0.34,0.06,-0.3,7.4,7.1,40,56,17,0,73,2.4,1.9,60,53,3.6,2.8,2018/01/01,2
3,15.3,1.8,0.32,0.06,-0.3,7.2,7,40,57,16,0,72,2.5,1.9,65,72,3.7,2.8,2018/01/01,3
4,15.3,1.8,0.29,0.06,-0.1,5.9,5.9,42,55,15,0,74,2.5,1.9,63,64,3.1,2.5,2018/01/01,4

In [11]:
for col in feature.iloc[:,3:-2]:  #轉成numeric,非數字(文字或符號)用NA補     
    feature[col]=pd.to_numeric(feature[col],errors='coerce')

In [12]:
dfleft=feature.ffill() #找前面的數字來補
dfright=feature.bfill() #找後面的數字來補

In [13]:
for col in feature.iloc[:,:-2]:
    feature[col]=pd.concat([dfleft[col],dfright[col]],axis=1).mean(axis=1)
feature.head()

,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR,日期,時間
0,15.4,1.8,0.34,0.06,0.2,8.2,8.4,39.0,71.0,22.0,0.0,73.0,2.7,1.9,64.0,66.0,4.2,3.3,2018/01/01,0
1,15.4,1.8,0.32,0.06,0.0,7.3,7.3,40.0,65.0,23.0,0.0,73.0,2.7,1.9,64.0,67.0,3.9,3.0,2018/01/01,1
2,15.3,1.8,0.34,0.06,-0.3,7.4,7.1,40.0,56.0,17.0,0.0,73.0,2.4,1.9,60.0,53.0,3.6,2.8,2018/01/01,2
3,15.3,1.8,0.32,0.06,-0.3,7.2,7.0,40.0,57.0,16.0,0.0,72.0,2.5,1.9,65.0,72.0,3.7,2.8,2018/01/01,3
4,15.3,1.8,0.29,0.06,-0.1,5.9,5.9,42.0,55.0,15.0,0.0,74.0,2.5,1.9,63.0,64.0,3.1,2.5,2018/01/01,4

In [14]:
#方法2，線性補值
for col in feature.iloc[:,3:-2]:  #轉成numeric,非數字(文字或符號)用NA補     
    feature[col]=pd.to_numeric(feature[col],errors='coerce')
df_fillna=feature.interpolate() #interpolate可以用前後數字線性補值
df_fillna.head()

,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR,日期,時間
0,15.4,1.8,0.34,0.06,0.2,8.2,8.4,39.0,71.0,22.0,0.0,73.0,2.7,1.9,64.0,66.0,4.2,3.3,2018/01/01,0
1,15.4,1.8,0.32,0.06,0.0,7.3,7.3,40.0,65.0,23.0,0.0,73.0,2.7,1.9,64.0,67.0,3.9,3.0,2018/01/01,1
2,15.3,1.8,0.34,0.06,-0.3,7.4,7.1,40.0,56.0,17.0,0.0,73.0,2.4,1.9,60.0,53.0,3.6,2.8,2018/01/01,2
3,15.3,1.8,0.32,0.06,-0.3,7.2,7.0,40.0,57.0,16.0,0.0,72.0,2.5,1.9,65.0,72.0,3.7,2.8,2018/01/01,3
4,15.3,1.8,0.29,0.06,-0.1,5.9,5.9,42.0,55.0,15.0,0.0,74.0,2.5,1.9,63.0,64.0,3.1,2.5,2018/01/01,4

In [15]:
train=feature.loc[feature.iloc[:,18]>='2018/10/01'].reset_index(drop=True)
train.head()

,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PM10,PM2.5,RAINFALL,RH,SO2,THC,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR,日期,時間
0,24.7,1.8,0.26,0.05,0.5,6.0,6.5,56.0,33.0,19.0,0.0,49.0,1.5,1.8,43.0,45.0,3.9,2.8,2018/10/01,0
1,24.3,1.8,0.16,0.05,0.5,6.3,6.8,53.0,30.0,17.0,0.0,50.0,1.7,1.9,50.0,48.0,2.0,2.0,2018/10/01,1
2,23.9,1.8,0.14,0.05,0.7,5.7,6.4,50.0,31.0,15.0,0.0,50.0,1.5,1.9,75.0,71.0,1.7,1.4,2018/10/01,2
3,22.8,1.9,0.13,0.05,0.4,5.3,5.7,48.0,29.0,17.0,0.0,55.0,0.9,1.9,50.0,50.0,1.4,1.0,2018/10/01,3
4,22.4,1.9,0.14,0.05,0.6,5.4,6.0,44.0,26.0,18.0,0.0,57.0,0.3,1.9,92.0,84.0,1.2,0.8,2018/10/01,4

In [16]:
train_set=train.loc[train.iloc[:,18]<'2018/12/01']
test_set=train.loc[train.iloc[:,18]>='2018/12/01']
print(train_set.shape,test_set.shape)

(1464, 20) (744, 20)

In [17]:
##第一題整理的形式
train.transpose().head()

,0,1,2,3,4,5,6,7,8,9,...,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207
AMB_TEMP,24.7,24.3,23.9,22.8,22.4,22.3,22.7,24.2,27.8,29.6,...,17.5,17.3,16.9,16.7,16.7,17.1,17.6,17.7,17.5,17.5
CH4,1.8,1.8,1.8,1.9,1.9,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
CO,0.26,0.16,0.14,0.13,0.14,0.15,0.18,0.3,0.3,0.2,...,0.21,0.23,0.23,0.26,0.27,0.28,0.25,0.23,0.23,0.2
NMHC,0.05,0.05,0.05,0.05,0.05,0.06,0.06,0.09,0.1,0.08,...,0.09,0.09,0.07,0.07,0.08,0.08,0.06,0.05,0.06,0.05
NO,0.5,0.5,0.7,0.4,0.6,0.6,0.9,2.6,2.6,1.3,...,1.4,1.4,1,0.7,0.7,0.6,0.6,0.5,0.6,0.4

In [18]:
##Q2
def shift(data,num):
    return data[num:]

In [19]:
train_X = pd.DataFrame()
temp=train_set['PM2.5']
for i in range(len(train)):
    if len(temp)>6:
        train_X=train_X.append(pd.DataFrame(temp.values[:6].reshape(1,6)),ignore_index=True)
        temp=shift(temp,1)
train_Y=train_set['PM2.5'][6:].reset_index(drop=True)
train_X.head()

      0     1     2     3     4     5
0  19.0  17.0  15.0  17.0  18.0  13.0
1  17.0  15.0  17.0  18.0  13.0  14.0
2  15.0  17.0  18.0  13.0  14.0  19.0
3  17.0  18.0  13.0  14.0  19.0  20.0
4  18.0  13.0  14.0  19.0  20.0  19.0

In [20]:
test_X = pd.DataFrame()
temp=test_set['PM2.5']
for i in range(len(train)):
    if len(temp)>6:
        test_X=test_X.append(pd.DataFrame(temp.values[:6].reshape(1,6)),ignore_index=True)
        temp=shift(temp,1)
test_Y=test_set['PM2.5'][6:].reset_index(drop=True)
test_X.head()

      0     1     2     3     4     5
0  41.0  47.0  64.0  74.0  64.0  56.0
1  47.0  64.0  74.0  64.0  56.0  54.0
2  64.0  74.0  64.0  56.0  54.0  47.0
3  74.0  64.0  56.0  54.0  47.0  46.0
4  64.0  56.0  54.0  47.0  46.0  44.0

In [29]:
##Q3
RF = RandomForestRegressor(n_estimators=500)
RF.fit(train_X.astype('int'), train_Y.astype('int').values.ravel())
RF_pred = RF.predict(test_X)

In [22]:
OLS=LinearRegression()
OLS.fit(train_X.astype('int'), train_Y.astype('int'))
OLS_pred = OLS.predict(test_X)

In [30]:
from sklearn.metrics import mean_absolute_error
print('RandomForest:',mean_absolute_error(test_Y, RF_pred))
print('OLS:',mean_absolute_error(test_Y, OLS_pred))

RandomForest: 2.7076923861143376
OLS: 2.239667213569036